/* nav .nav-link{
    margin-top: 15px;
} */

:root{
    --primaryColor: #0e6253;
    --secondaryColor: #ffc107;
    --whiteColor: #fff;
    --blackColor: #222;
    --softGreenColor: #cbece1;
    --darkGreyColor: #a7a7a7;
    --greyColor: #f5f5f5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

}

body{
    width: 100%;
    height: auto;
    display: flex;
}



.sidebar{
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2%;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
}

.sidebar-menu{
    display: flex;
    flex-direction: column;

}

.sidebar-menu a, .sidebar-logout a{
    padding: 5% 8%;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    text-decoration: none;
    color: var(--whiteColor);
}

.sidebar-menu a ion-icon, .sidebar-logout a ion-icon{
    font-size: 20px;

}
.sidebar-menu a:hover, .sidebar-logout a:hover{
    background-color: var(--secondaryColor);
    border-radius: 50px;
}

.main-body{
    background-color: var(--softGreenColor);
}